.card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100vw-10px;
    height: 100vh;
}

.card-info{
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.card-tap{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.card-cards{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.card-buy{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.card-buttons{
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
